:root {
    --gray--primary: #B6B3C5;
    --gray--secondary: #F5F4F8;
    --purple: #7550FE;
    --green: #1BCB98;
    --orange: #FFAA46;
    --orange-light: #FFEFD9;
    --brown: #C28135;

}

@font-face {
    font-family: 'feather';
    src: url(./assets/font/feather.ttf);
}

body {
    font-family: 'feather', sans-serif;
    background-color: var(--gray--secondary);
}

.bg--purple {
    background-color: var(--purple);
}

.bg--green {
    background-color: var(--green);
}

.text--gray-primary {
    color: var(--gray--primary);
}

.text--gray-secondary {
    color: var(--gray--secondary);
}

.smallest {
    font-size: 0.65rem;
}

.icon {
    width: 30px;
    height: 30px;
    background-color: var(--gray--secondary);
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    color: var(--gray--primary);
}

.icon__menu {
    border-radius: 3px;
    border: 1px solid var(--purple);
    color: var(--purple);
    background-color: #fff;
}

.stats-list {
    padding: 0;
}

.stats-list__item {
    list-style: none;
}

.stats-list__item__icon {
    width: 40px;
    height: 40px;
    line-height: 45px;
    font-size: 1.5rem;
    background-color: var(--orange-light);
    color: var(--brown);
}

.card-info span {
    vertical-align: middle;
}

.card-info__icon {
    font-size: 0.9rem;
    margin-right: 0.1rem;
}

.card-info__difficulty__icon {
    color: var(--purple);
}

.card-info__review__icon {
    color: var(--orange);
}

.card__avatar {
    width: 20px;
    height: 20px;
}

.slides-wrapper {
    transition: translate 1s linear;
}


.nextBtn {
    padding: 0;
    right: 0;
    height: 30px;
    width: 30px;
}
.prevBtn {
    padding: 0;
    height: 30px;
    width: 30px;
    left: 0;
}

.bookmark {
    cursor: pointer;
    height: 0.875rem;
}

.bookmark path:hover {
    fill: currentColor;
}
  
.card {
    transition: all 500ms ;
}

.card:hover {
    scale: 1.015;
    box-shadow: 0 0 5px 2px #ccc;
}

.dropdown-menu {
    top: 1.9rem!important;
}

.bullet {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    right: 0;
}

.bullet--green {
    background-color: var(--green);
    bottom: 0;
}

.bullet--purple {
    background-color: var(--purple);
    top: 0;
}

.animation {
    transition: all 500ms;
}

button.bg--green:hover {
    background-color: var(--green);
}

button.btn-light:hover {
    background-color: var(--gray--secondary);
}

button.animation:hover {
    scale: 1.05;
    box-shadow: 0 0 5px 2px #706f6f;
}


@media only screen and (min-width: 1024px) {

    .small {
        font-size: 1rem!important;
    }

    .smallest {
        font-size: 0.875rem;
    }

}